@use '../../vars';

@keyframes shiny {
    from {
        background-color: rgba(255,255,255,0);
    }

    to {
        background-color: rgba(255,255,255,.3);
    }
}

.profile-picture {
    border-radius: 50%;
    background: linear-gradient(45deg, vars.$orage, vars.$pink);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

    &::before {
        content: '';
        border-radius: 100%;
        border: 1px solid vars.$white;
        width: 95%;
        height: 95%;
        transition: all;
        animation: shiny 500ms infinite;
    }

    &.seen {
        background: vars.$medium-grey;
    }

    &.md {
        $size: 4rem;
        width: $size;
        height: $size;
        font-size: 2px;
    }

    &.sm {
        $size: 2.2rem;
        width: $size;
        height: $size;
        font-size: 1px;
    }

    &.loaded {
        img {
            display: initial;
        }

        &::before {
            display: none;
        }
    }

    img {
        display: none;
        width: 95%;
        border-radius: 50%;
        border: 1em solid vars.$white;
    }
}