@use '../../vars';

.header {
    background-color: vars.$white;
    border: 1px solid vars.$border-color;
    height: 3vh;
    display: flex;
    align-items: center;
    padding: 1rem 0;

    & > div {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        width: 100%;
        max-width: 58rem;
        margin: 0 auto;

        div {
    
            display: flex;
            align-items: center;
    
            .logo {
                width: 6rem;
    
                @media screen and (min-width: vars.$desktop) {
                    width: 8rem;
                }
            }
        }
        
        .icons-container {
    
            justify-content: space-between;
    
            svg, .user {
                margin-left: 1.1rem;
                width: 80%;
    
                @media screen and (min-width: vars.$tablet) {
                    width: 2rem;
                }
            }
        }
    }


}